html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
     Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
  }

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family: 'Space Grotesk', sans-serif;
    color:#657399
  }
  article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block
}

a{
    font-family: 'Space Grotesk', sans-serif;   
    font-weight: 500;
}

.sticky-nav {
    position: static;
    top: 0;
    z-index: 1;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EBEBEB;
  }

.canalizadosBrandPC{
    width: 200px;
}
.navTopRight{
    align-items: center;
    display: flex;
}
.btnUneteComunidad {
    background: #7986CB;
    color: white !important;
    border-radius: 7px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    height: calc(100% - 16px);
    padding: 15px;
    outline: none;
  }
.btnUneteComunidad:hover{
    text-decoration: none;
    background: #8090e0;
}


.iconsHeader{
    margin-right: 25px;
}
.iconsheaderLink{
    color: #8090e0!important
}

.header2{
    padding: 15px;
    align-items: center;
}
.header2 li a{
    color: #657399;
    font-weight: 600;
    font-family: Space Grotesk,sans-serif
}
.header2 li a:hover{
    color: #7789bb;
}

.linksSidebarMovil li a{
    color: #657399;
    font-weight: 600;
    font-family: Space Grotesk,sans-serif;
    border: none;
}

.searchMovil{
    display: none!important;
}

.jeg_search_wrapper .jeg_search_form {
    display: block;
    position: relative;
    line-height: normal;
    min-width: 60%;
}
.jeg_search_input {
    border-radius: 33px;
    padding: .5em 15px;
}
.jeg_search_input {
    height: 36px;
}
.jeg_search_input {
    width: 100%;
    vertical-align: middle;
    height: 40px;
    padding: .5em 30px .5em 14px;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #e0e0e0;
    height: 40px;
    outline: none;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    max-width: 100%;
    transition: .25s ease;
    box-shadow: none
}
.jeg_search_button {
    padding-right: 12px;
}
.jeg_search_wrapper .jeg_search_button {
    color: #212121;
    background: transparent;
    border: 0;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    position: absolute;
    height: auto;
    min-height: unset;
    line-height: normal;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0 10px;
    transition: none;
}
.jeg_search_popup_expand{
    width: 100%;
}

.jeg_search_popup_expand .jeg_search_form{
    width: auto;
    border-left: 0;
    border-right: 0;
    left: -15px!important;
    right: -15px!important;
    padding: 20px;
    transform: none;
    height: auto;
    transition: padding .2s,height .1s,opacity .15s;
    background: #fff;
    border: 1px solid #eee;
    z-index: 12;
    box-shadow: 0 1px 4px rgb(0 0 0 / 9%);
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.containerSliderHome{
    padding: 0
}
.cardAutorFecha{
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}
.colCardCanalizados{
    margin-bottom: 30px;
    padding-left: 0;
}
.cardCanalizados{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}
.cardCanalizados img{
   height: 160px;
   object-fit: cover;
   flex-shrink: 0;
    width: 100%;
}

.cardCanalizados .card-text a{
    color: #3d3d3d;
    text-decoration: none;
    margin-top: 10px; }

.mainInversiones h1{
    font-size: 25px;
    width: 100%;
}

.card-img, .card-img-bottom {
     border-bottom-right-radius: 0!important; 
     border-bottom-left-radius: 0!important; 
}
.colCardCanalizados .card img{
    width: 100%;
    height: 160px;
    object-fit: cover;
}
.colCardCanalizados a{
    color: #3d3d3d;
    text-decoration: none;
}
.titleCardMiraEstaStartup a{
    color: #3d3d3d;
    text-decoration: none;
    color: white;
}
.sidebarInversiones a{
    color: #3d3d3d;
    text-decoration: none;
}
.sidebarInversiones img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 0;
}
.sidebarInversiones .card{
    padding-top: 10px;
    padding-left: 10px;
    align-items: flex-start;
    padding-bottom: 10px;
    border: none;
    margin-bottom: 0!important;
}
.sidebarInversiones .card-body{
    padding: 0;
    padding-left: 10px;
    font-size: 12px;
    font-weight: bold;
}
.sidebarInversiones .card-body .card-text{
    margin-bottom: 5px;
}

.cardGrandeEcosistema {
    padding: 0;
    margin-bottom: 20px;
}
.cardGrandeEcosistema .card {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border: none;
    margin-bottom: 0!important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cardGrandeEcosistema .card img {
    width: 40%;
    height: 200px;
    object-fit: cover;
}
.cardGrandeEcosistema .card .card-body{
    padding: 20px;
    width: 60%;
}
.cardGrandeEcosistema h1{
    font-size: 25px;
    margin-bottom: 20px;
}


.mainMiraEstaStartup{
    background: #7986CB;
}
.mainMiraEstaStartup .item{
    width: 100%;
}
.mainMiraEstaStartup .card {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border: none;
    margin-bottom: 0!important;
    background: none;
    display: flex;
}

.mainMiraEstaStartup .card .text-muted {
    color: white!important;
}
.mainMiraEstaStartup .card img {
    width: 35%;
    height: 220px;
    object-fit: cover;
}
.mainMiraEstaStartup .card .card-body{
    width: 65%;
    display: flex;
    flex-direction: column;
}
.mainMiraEstaStartup h1{
    font-size: 25px;
    margin-bottom: 20px;
    color: white;
}

.titleCardMiraEstaStartup{
    font-size: 25px;
    font-weight: bold;
}
.historiaParaContar{
    text-align: center;
    color: white;
    margin: 20px;
}
.historiaParaContar a{
    color: white;
    text-decoration: underline;
}
footer{
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: flex-start;
    background-color: #f1f1f1;
    text-align: center;
}


/*  widget seguidores redes sociales   */
.cubreCanalziadosRedesSociales{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.canalizados-social-box{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}
.canalizados-sp{
    transition: box-shadow 0.3s ease;
    width: 64px;
    height: 64px;
    border-radius: 64px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.canalizados-social-box .facebook{
    background-color: #516eab;
}
.canalizados-social-box .instagram{
    background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.canalizados-social-box .twitter{
    background-color: #29c5f6;
}
.canalizados-social-box .linkedin{
    background-color: #0073b1;
}
.canalizados_social_info_counter{
    font-size: 15px;
    top: 5px;
    font-weight: bold;
}
.canalizados_social_info_name{
    font-size: 11px
}

.stickySidebar{
    position: sticky;
    top: 20px;
}

/* canalizadosNews */
.canalizadosNews{
    padding-top: 16px;
    margin-bottom: 32px;
    text-align: left;
    margin-top: 30px;
}

.canalizadosNewsBox{
    background: #ffffff;
    border: 2px solid #383092;
    color: #424242;
    padding: 32px 16px 16px;
    position: relative;
}
.canalizadosNewsBox p{
    font-size: 13px;
    text-align: center;
    line-height: 1.3;
}
.canalizadosNewsBox .form-control{
    border: 1px solid #525455;
    border-radius: 0;
}
.canalizadosNewsBox button{
    border-radius: 0;
    padding: 10px
}
.canalizadosNewsBox button{
    outline: none;
    border: none;
}
.canalizadosNewsBoxIcon{
    display: block;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    background: #ffffff;
    left: calc(50%);
    position: absolute;
    top: -1px;
    padding: 0 10px;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    font-size: 28px;
    font-weight: bold;
    color: black;
}
.canalizadosNewsBoxIcon img{
    width: 30px;
    height: 30px;
    object-fit: contain;
}




/*    movil     */

@media screen and (max-width:950px) {
    .cardGrandeEcosistema {
        padding: 15px;
    }
    .colCardCanalizados .card img{
        width: 100%;
    height: auto;
    object-fit: initial;
    }
    .cardCanalizados
    {
        height: 100%;
    }
    .navTopRight{
       display: none;
    }
    .header2{
        display: none;
    }
    .searchMovil{
        display: block!important;
    }

    .colCardCanalizados{
        margin-top: 0!important;
        margin-bottom: 0;
    }


    .cardGrandeEcosistema .card {
        flex-wrap: wrap;
    }
    .cardGrandeEcosistema .card img {
        width: 100%;
        object-fit: cover;
    }
    .cardGrandeEcosistema .card .card-body{
        padding: 20px;
        width: 100%;
    }

    .mainMiraEstaStartup .card {
        flex-wrap: wrap;
    }
    .mainMiraEstaStartup .card img {
        width: 100%;
        object-fit: cover;
    }
    .mainMiraEstaStartup .card .card-body{
        padding: 20px;
        width: 100%;
    }
    
    .canalizados_wrapper {
        padding: 0!important;
    }
    .titleCardMiraEstaStartup{
        font-size: 16px;
        font-weight: bold;
    }
    .col-12 {
        padding-left: 15px;
    }
    
  }